[flake8]
exclude =
  .env
  migrations,
  __pycache__,
  manage.py,
  settings.py,
  website/models/__init__.py
  website/serializer/__init__.py
  website/tests/__init__.py
  website/views/__init__.py
  website/urls/__init__.py